.App {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 25vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3 {
  margin-bottom: 0.5em; 
  padding: 0 3em 0 3em;
}

.App-list {
  list-style-type: decimal;
  text-align: justify;

  font-size: 0.9em;
}

.App-list > li {
 padding-left: 1em;
}

.App-link {
  color: #D64292;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(min-width: 750px) {
  .App-list {
    margin-left: 6em;
  }
}