.App {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  height: 25vmin;

  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  
  min-height: 100vh;
  padding: 2em 0;
  
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3 {
  margin-bottom: 0.5em; 
  padding: 0 3em 0 3em;
}

.App-list {
  margin-right: 2em;

  list-style-type: decimal;
  text-align: justify;

  font-size: 0.9em;
}

.App-list > li {
 padding: 0.2em;
}

.repoInfo {
  display: none;
}

.App-link {
  color: #D64292;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(min-width: 750px) {
  .App-list {
    margin-left: 6em;
    font-size: 1em;
  }
}

@media(min-width: 900px) {
  .repoInfo {
    display: inline;
  }
}